/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.btn {
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  padding: 0;
}

body {
  background-color: rgb(226, 226, 226);
}

.loader {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.js-hidden {
  display: none;
}

.cat-info {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.img-container {
  max-width: 300px;
  min-width: 300px;
}
.img {
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.name {
}
.descr {
}
.temperament {
}
